<ngb-carousel *ngIf="4" [showNavigationIndicators]="false">
  <ng-template ngbSlide>
    <div class="carousel-card">
      <a [routerLink]="['/details', '64fef0b5a86f611f24427888']"><img
          src="../../../assets/images/carousel images/carousel-1.jpg" alt="no data" />
      </a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-card">
      <a [routerLink]="['/details', '64fef0b5a86f611f2442788b']"><img
          src="../../../assets/images/carousel images/carousel-2.jpg" alt="no data" />
      </a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-card">
      <a [routerLink]="['/details', '64fef0b5a86f611f2442788c']"><img
          src="../../../assets/images/carousel images/carousel-3.jpg" alt="no data" />
      </a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-card">
      <a [routerLink]="['/details', '64fef0b5a86f611f2442788d']"><img
          src="../../../assets/images/carousel images/carousel-4.jpg" alt="no data" />
      </a>
    </div>
  </ng-template>
</ngb-carousel>