<ngb-carousel *ngIf="4" [showNavigationIndicators]="false">
  <ng-template ngbSlide>
    <div class="carousel-card">
      <a [routerLink]="['/details', '6504094d358385acef4030a1']"><img
          src="../../../assets/images/carousel images/carousel-1.jpg" alt="no data" />
      </a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-card">
      <a [routerLink]="['/details', '6504094d358385acef4030a4']"><img
          src="../../../assets/images/carousel images/carousel-2.jpg" alt="no data" />
      </a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-card">
      <a [routerLink]="['/details', '6504094d358385acef4030a5']"><img
          src="../../../assets/images/carousel images/carousel-3.jpg" alt="no data" />
      </a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-card">
      <a [routerLink]="['/details', '6504094d358385acef4030a6']"><img
          src="../../../assets/images/carousel images/carousel-4.jpg" alt="no data" />
      </a>
    </div>
  </ng-template>
</ngb-carousel>