.signin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sign{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:  rgb(219, 221, 221);
    height: 300px;
    width: 350px;
    box-shadow: 5px 10px 15px rgb(153, 151, 151);
}
h1{
    font-weight: bold;
}
input[type="email"],input[type="password"]{
    padding: 5px;
    width: 250px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(199, 198, 198);
    margin-bottom: 20px;
}
button{
    padding: 5px;
    width: 100px;
    background-color: rgb(28, 121, 121);
    color: white;
    border: none;
    outline: none;
    transition: all 0.2s;
    margin-top: 10px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(18, 87, 87);
    transform:scale(1.1)
}
input.ng-touched.ng-invalid{
    border-bottom:1px solid red
}
input.ng-touched.ng-valid{
    border-bottom:1px solid rgb(10, 102, 7)
}