.footer {
  max-width: 100%;
  background-color: rgb(88, 88, 88);
  color: white;
  padding: 15px;
  bottom: 0%;
}
.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h2 {
  font-size: medium;
}
a {
  color: rgb(189, 189, 189);
  text-decoration: none;
}
a:hover {
  color: aliceblue;
  text-decoration: underline;
}
.icons {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 10px;
  gap: 10px;
  color: white;
}
mat-icon {
  transition: all 0.2ms;
}
mat-icon:hover {
  transform: scale(1.2);
}
span {
  display: flex;
  justify-content: center;
}
.clarity {
  color: rgb(184, 186, 187);
}
@media screen and (min-width: 250px) and (max-width: 800px) {
  .footer {
    max-width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 50px) and (max-width: 250px) {
  .cols {
    overflow: hidden;
  }
  .icons {
    overflow: hidden;
  }
}
