.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: auto;
}

.error-card {
  width: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px;
  background-color: rgb(236, 232, 232);
}

.error-heading {
  font-size: 50px;
  margin: 0 0 20px 0;
  font-weight: bold;
  color: #f44336;
}

.error-message {
  font-size: 20px;
  margin: 0 0 20px 0;
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
