<header>
  <mat-toolbar class="navbar">
    <div class="category d-flex">
      <a routerLink="/">
        <img
          src="/assets/images/bookstore-logo.png"
          alt="logo"
          height="50px"
          width="50px"
          class="navIcon"
        />
      </a>
      <div class="navItems">
        <a class="navitem" routerLink="/viewall/Trending">TRENDING</a>
        <a class="navitem" routerLink="/viewall/Best Offers">OFFERS</a>
        <a class="navitem" routerLink="/viewall/Avaliable Books">ALL BOOKS</a>
      </div>
    </div>
    <div class="input">
      <input #searchField
        type="text"
        placeholder="Search by Title..."
        [(ngModel)]="search"
        (input)="redirectToSearch($event)"
      />
      <a class="search">
        <mat-icon class="searchicon">search</mat-icon>
        </a>
      <a class="login" *ngIf="!username" (click)="login()">Sign In</a>
      <div class="loginItems" *ngIf="username">
        <span class="username">
          <span [style]="{ color: 'blue' }">Welcome </span
          >{{ username | uppercase }}
        </span>
        <mat-icon class="logout" (click)="logout()">logout</mat-icon>
        <mat-icon
          class="cart"
          matBadge="{{ count }}"
          matBadgeSize="small"
          matBadgeColor="warn"
          aria-hidden="false"
          routerLink="/cart"
          >shopping_cart</mat-icon
        >
      </div>
    </div>
  </mat-toolbar>
</header>
