h1,
h2,
h4,
h3 {
  font-weight: bold;
}
h3 {
  margin: 0px;
}
.flex-center {
  height: 500px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.error-msg {
  text-decoration: none;
}
.discountPrice h4 {
  color: rgb(19, 182, 33);
}
.details-card {
  max-width: 100%;
  height: auto;
  padding-top: 25px;
}
.bookdetails-card {
  max-width: 1000px;
  height: auto;
  margin: 20px 20px 0 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  transform: translate(-50%);
  left: 50%;
  top: 50%;
  line-height: 22px;
}
.book-detail {
  display: flex;
  max-width: 950px;
  flex-wrap: wrap;
}
.book-img {
  width: 250px;
  height: 340px;
  margin-right: 40px;
  object-fit: contain;
}
.book-img img {
  max-width: 250px;
  height: 340px;
}
.book-title {
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.title-name h2 {
  color: rgb(255, 239, 8);
}
.title-name {
  margin-left: 30px;
}
.book-price {
  margin-left: 30px;
  color: greenyellow;
}
.book-qty {
  display: flex;
  flex: row wrap;
}
.book-qty p {
  padding-top: 4px;
  color: yellow;
}
.book-qty button {
  border: none;
  font-weight: 600;
  color: black;
  font-size: 15px;
  background-color: rgb(248, 175, 175);
  height: 29px;
  width: 20px;
  margin: 0px 10px 0px 10px;
}
.book-atc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.book-atc a {
  cursor: pointer;
}
.cart-btn {
  max-width: 160px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(21, 21, 131);
  border: 1px solid rgb(21, 21, 131);
  border-radius: 5px;
  margin: 0px 0px 15px 30px;
}
.buynow-btn {
  font-size: large;
  max-width: 300px;
  height: 70px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(243, 167, 26);
  border: 1px solid rgb(243, 167, 26);
  border-radius: 7px;
  margin: 0px 0px 15px 30px;
}

.book-desc {
  display: flex;
  max-width: 950px;
  flex-wrap: wrap;
  margin: 20px 10px 25px 0;
  line-height: 25px;
  color: #0008ffb0;
}
.book-desc p {
  max-width: 900px;
  margin-bottom: 25px;
  padding: 10px 0px 10px 12px;
  color: aliceblue;
}
.goback-arrow .material-symbols-outlined {
  margin-left: 35px;
  font-size: 40px;
  color: rgb(208, 255, 0);
}
.back-btn .material-symbols-outlined {
  padding-right: 2px;
  text-align: center;
}
.back-btn {
  position: absolute;
  width: 80px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(21, 21, 131);
  border: 1px solid rgb(21, 21, 131);
  border-radius: 5px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 20px;
}

@media screen and (max-width: 930px) {
  .book-desc {
    display: flex;
    max-width: 700px;
    margin-right: 10px;
  }

  .book-desc p {
    padding: 0%;
  }
  .book-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  .bookdetails-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  .book-img {
    margin: 0px;
  }
  .back-btn {
    right: 17px;
  }
  .book-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
  }
  @media screen and (max-width:400px) {
    .buynow-btn{
      padding: 0px;
      width: 250px;
    }
  }
}
