<app-header></app-header>
<div class="details-card">
  <a routerLink="/" class="goback-arrow"><span class="material-symbols-outlined"> arrow_left_alt </span>
  </a>
  <div @myInsertRemoveTrigger class="bookdetails-card" *ngIf="!errorMessage; else errorOccur">
    <div class="book-detail">
      <div class="book-img">
        <img [src]="data?.thumbnailUrl" [alt]="data?.title" />
      </div>
      <div class="book-title">
        <div class="title-name">
          <h2>{{ data?.title }}</h2>
          <p class="text-dark">
            by <i style="font-size: 14px">{{ data?.authors }}</i>
          </p>
        </div>

        <div class="book-price">
          <div class="discountPrice" *ngIf="data?.discount; else noDiscount">
            <del>
              <h3>₹{{ data?.price }}</h3>
            </del>
            <h4>{{ data?.discount }}% off</h4>
            <h1>₹{{ calculateDiscount(data?.price, data?.discount) }}</h1>
          </div>
          <ng-template #noDiscount>
            <h1>&#8377;{{ data?.price }}</h1>
          </ng-template>

          <div class="book-qty">
            <h4>Quantity:</h4>
            <button (click)="onDecrement()" [disabled]="count <= 1">-</button>
            <p>{{ count }}</p>
            <button (click)="onIncrement()">+</button>
          </div>
        </div>
        <div class="book-atc">
          <button class="cart-btn" (click)="!existInCart ? addToCart(data) : goToCart()">
            {{ existInCart ? "Go" : "Add" }} to Cart
            <span class="material-symbols-outlined"> add_shopping_cart </span>
          </button>
          <a routerLink="/buy" class="buynow-btn">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="book-desc">
      <h2>Description</h2>
      <p>{{ data?.longDescription }}</p>
    </div>
    <a routerLink="/" class="back-btn"><span class="material-symbols-outlined"> arrow_left_alt </span> Back</a>
  </div>
  <ng-template #errorOccur>
    <div class="background flex-center text-danger h-500">
      <div appErrorStyles>
        <h2>OOPS! {{ errorMessage?.error.error.status }}</h2>
        <h2>Something went wrong!</h2>
        <h2>Please try after sometime</h2>
        <h2>
          <a href="/" class="error-msg">GO BACK</a>
        </h2>
      </div>
    </div>
  </ng-template>
</div>
<app-footer></app-footer>