.footer {
  background-color: rgb(88, 88, 88);
  color: white;
  /* position: absolute;
  bottom: 0;
  right: 0;
  left:0; */
}
.cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
}
h2{
  font-size: medium;
}
a{
  color: rgb(189, 189, 189);
  text-decoration: none;
}
a:hover {
  color: aliceblue;
  text-decoration: underline;
}
.icons {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 10px;
  gap: 10px;
  color: white;
}
mat-icon{
  transition: all 0.2ms;
}
mat-icon:hover{
  transform: scale(1.2);
}
span{
    display: flex;
    justify-content: center;
}
.clarity{
    color: rgb(184, 186, 187);
}


