.footer {
  background-color: rgb(88, 88, 88);
  color: white;
  padding: 15px;
  /* position: absolute;
  bottom: 0;
  right: 0;
  left:0; */
}
.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h2{
  font-size: medium;
}
a{
  color: rgb(189, 189, 189);
  text-decoration: none;
}
a:hover {
  color: aliceblue;
  text-decoration: underline;
}
.icons {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 10px;
  gap: 10px;
  color: white;
  transition: all 0.2s;
}
mat-icon:hover{
  transform: scale(1.5);
}
span{
    display: flex;
    justify-content: center;
}
.clarity{
    color: rgb(184, 186, 187);
}
@media screen and (min-width:250px) and (max-width:800px) {
  .footer {
    max-width: 100%;
    height: 100%;
     }
}

