<footer>
  <div class="footer">
    <div class="col1">
      <h2>SHOP</h2>
      <a href="#">Books</a><br />
      <a href="#">eBooks</a><br />
      <a href="#">Kids-A-Million</a><br />
      <a href="#">Teen</a><br />
      <a href="#"> Bargain Books</a><br />
      <a href="#">Entertainment</a><br />
      <a href="#"> Toys</a><br />
      <a href="#">Fandom</a><br />
    </div>
    <div class="col2">
      <h2>SERVICES</h2>
      <a href="#"> Millionaire's Club</a><br />
      <a href="#">Affiliate Program</a><br />
      <a href="#">Business Services</a><br />
      <a href="#">Education Services</a><br />
      <a href="#"> Gift Cards</a><br />
    </div>
    <div class="col3">
      <h2>COMPANY</h2>
      <a href="#">Find a Store</a><br />
      <a href="#">About Us</a><br />
      <a href="#">Career Opportunities</a><br />
      <a href="#">For Authors & Publishers</a><br />
      <a href="#">Contact Us</a><br />
      <a href="#">Read Our Blog</a><br />
      <a href="#">Digital Accessibility</a><br />
    </div>
    <div class="col4">
      <h2>HELP</h2>
      <a href="#"> Help Desk</a><br />
      <a href="#">Manage My Account</a><br />
      <a href="#"> Reset My Password</a><br />
      <a href="#"> Shopping Cart</a><br />
      <a href="#"> Shipping Info</a><br />
      <a href="#"> Where's My Order?</a><br />
      <a href="#"> Returns</a><br />
    </div>
  </div>
</footer>
