* {
  box-sizing: border-box;
}
h2 {
  font-weight: bold;
}
.container {
  width: 100%;
  height: auto;
}
mat-grid-tile {
  background: transparent;
}
.spinner {
  width: 100%;
  height: 475px;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 100px;
  height: 133px;
}
.books-container {
  padding: 10px;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.books-container:hover {
  opacity: 0.6;
}
.back-btn {
  position: absolute;
  max-width: 160px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(21, 21, 131);
  border: 1px solid rgb(21, 21, 131);
  border-radius: 5px;
  margin-top: 20%;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}
button {
  margin-left: 10px;
  outline: none;
  border-radius: 3px;
}
.heading {
  display: flex;
  flex: row wrap;
  color: red;
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
  justify-content: space-between;
}
.flex-center {
  height: 500px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.error-msg {
  text-decoration: none;
}