h2,
h3 {
  font-weight: 700;
}
.cart-details {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-card {
  width: 650px;
  height: auto;
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 12px;
}
.cart-book {
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: center;
}
.book-details {
  padding-top: 8px;
  max-width: 350px;
}
.book-img {
  padding: 5px;
}
.book-img img {
  width: 85px;
  height: 135px;
  margin-left: 10px;
  margin-right: 20px;
}
.book-qty {
  display: flex;
  flex: row wrap;
}
.book-qty p {
  padding-top: 4px;
}
.book-qty button {
  border: none;
  font-weight: 600;
  color: black;
  font-size: 15px;
  background-color: rgb(219, 217, 217);
  height: 29px;
  width: 20px;
  margin: 0px 10px 0px 10px;
}
.remove-btn {
  margin-right: 20px;
  padding: 10px;
  width: 125px;
  text-align: center;
  background-color: rgb(243, 26, 26);
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
.price-card{
    display: flex;
    flex: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: auto;
    width: 650px;
    margin-bottom: 20px;
    padding: 15px;
}
.price-card h2{
    padding-top: 15px;
}
.buynow-btn{
    padding: 15px;
    width: 200px;
    background-color: rgb(243, 167, 26);
    border: 1px solid rgb(243, 167, 26);
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

@media screen and (max-width: 650px) {
  * {
    font-size: xx-small;
  }
  .price-card{
     max-width: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 8px;
  }
  .buynow-btn{
    max-width: 130px;
  }
 
  .cart-card {
    max-width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
  .cart-book {
    min-width: 350px;
    display: flex;
    flex: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .book-img {
  padding: 0px;
}
  .book-img img {
    width: 75px;
    height: 105px;
    margin-left: 5px;
    margin-right: 10px;
  }
}
