.signinform {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(242, 245, 245);
  height: 350px;
  width: 350px;
  border-radius: 15px;
}
h1 {
  font-weight: bold;
  margin-bottom: 20px;
}
input[type="email"],
input[type="password"] {
  padding: 7px;
  width: 250px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(199, 198, 198);
  border-radius: 5px;
}
.validate {
  margin-bottom: 10px;
  text-align: start;
  height: 50px;
}
.validate p {
  color: red;
  font-size: x-small;
}
button {
  width: 150px;
  padding: 5px;
  margin-bottom: 20px;
}
p a {
  text-decoration: none;
}
.homepage {
  text-decoration: none;
  color: rgb(87, 87, 88);
  padding: 5px;
}
.homepage:hover {
  color: rgb(63, 63, 63);
  border: 1px solid grey;
}
@media only screen and (max-width: 400px) {
  .signin {
    width: 80vw;
  }
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }
}
