.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(236, 236, 236);
  margin-bottom: 25px;
}
.category{
  cursor: pointer;
}
a {
  color: rgb(17, 17, 17);
  text-decoration: none;
  font-size: small;
  padding: 5px;
}
a:hover {
  background-color: rgb(42, 138, 138);
  color: white;
}
.input {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
input[type="text"] {
  width: 200px;
  font-size: small;
  outline: none;
  border: 2px solid rgb(42, 138, 138);
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 38px;
  background-color: rgb(42, 138, 138);
  color: white;
}
.signin {
  font-size: medium;
  padding-left: 10px;
  padding-right: 10px;
}
.cart{
    transition: all 0.2s;
}
.cart:hover{
  transform: scale(1.5);
}
@media screen and (max-width: 800px) {
  .navbar {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
}


