<header>
<mat-toolbar class="navbar">
  <div class="category">
    <img src="/assets/images/bookstore-logo.png" alt="logo" height="50px" width="50px">
    <a href="#">NEW</a>
    <a href="#">COMING SOON</a>
    <a href="#">SPECIAL EDITIONS</a>
    <a href="#">BOOKS</a>
  </div>
  <div class="input">
    <input type="text" placeholder="Title,Other,....." />
    <mat-icon class="search">search</mat-icon>
    <div class="signin">
      <a routerLink="signin">SIGN IN</a>
    </div>
    <mat-icon class="cart" routerLink="/cart">shopping_cart</mat-icon>
  </div>
</mat-toolbar>
</header>