.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding: 10px;
  border-bottom: 2px solid rgb(236, 236, 236);
  margin-bottom: 25px;
}
.navItems{
  margin-top: 5px;
  margin-left: 20px;
}

.category {
  cursor: pointer;
  width: 50vw;
}
a {
  color: rgb(17, 17, 17);
  text-decoration: none;
  font-size: small;
  padding: 7px;
}
a:hover {
  background-color: rgb(42, 138, 138);
  color: white;
}
.input {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  width: 40%;
}
input[type="text"] {
  width: 100%;
  font-size: small;
  outline: none;
  border: 2px solid rgb(42, 138, 138);
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 38px;
  background-color: rgb(42, 138, 138);
  color: white;
}
.login {
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
}
.cart {
  transition: all 0.2ms;
}
.cart:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 600px) {
  .input {
    width: 100vw;
    height: 100%;
    padding: 10px 8px 4px 8px;
  } 
.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width:40vw; */
  width: 100%;
}
.navItems{
  margin-left: auto;
  margin-right:10px;
}

}
