<app-header></app-header>
<a routerLink="/"><span class="material-symbols-outlined"
        style="margin-left:25px;font-size: 40px;color: rgb(5, 5, 61);">
        arrow_left_alt
    </span>
</a>
<div class="cart-details">
    <div class="cart-card" *ngFor="let item of cartData">
        <div class="cart-book">
            <div class="book-img">
                <input type="checkbox">
                <img src="{{item.thumbnailUrl}}"
                    alt="{{item.title}}">
            </div>
            <div class="book-details">
                <h3>{{item.title}}</h3>
                <p>by <i>{{item.authors}}</i></p>
                <h2>&#8377;{{item.price}}</h2>
                <div class="book-qty">
                    <h4>Quantity:</h4>
                    <button (click)="onDecrement(item)" >-</button>
                    <p>{{item.quantity}}</p>
                    <button (click)="onIncrement(item)">+</button>
                </div>
            </div>
        </div>
        <button class="btn remove-btn" (click)="onRemoveHandeller(item.id)">Remove</button>
    </div>
    <div class="price-card">
        <h2>Total price: 0</h2>
        <a href="#" class="buynow-btn">Buy Now</a>
        <!-- <button (click)="getDetails()">getDetails</button> -->
    </div>
    <div *ngIf="cartData.length<1" class="error-msg">
        <h2>Your Shopping Cart is empty.<a href="/">Continue Shopping</a> and select 'Add to Cart' to move items
            into your cart.
        </h2>
    </div>
</div>
<app-footer></app-footer>