<header>
<mat-toolbar class="navbar">

 

  <mat-toolbar-row class="row1">
    <div>
      <a href="#">SHOP FINDER</a>
      <a href="#">HELP</a>
      <a href="#">EVENTS</a>
      <a href="#">BLOG</a>
      <a href="#">GIFT CARDS</a>
      <a href="#">WIN</a>
    </div>
    <div class="sign">SIGN IN/ REGISTER</div>
  </mat-toolbar-row>

  <mat-toolbar-row class="row2">
    <p>BOOK STORE</p>
  </mat-toolbar-row>

  <mat-toolbar-row class="row3">
    <div>
      <a href="#">NEW</a>
      <a href="#">COMING SOON</a>
      <a href="#">SPECIAL EDITIONS</a>
      <a href="#">BOOKS</a>
      <a href="#">OUR FAVOURITES</a>
      <a href="#">STATIONERY & G</a>
    </div>
    <div class="input">
      <input type="text" placeholder="Title,Other" />
      <mat-icon class="button">search</mat-icon>
      <mat-icon>shopping_cart</mat-icon>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
</header>
