<app-header *ngIf="cartData?.length > 0"></app-header>
<div class="cartdetails-card">
<a routerLink="/" *ngIf="cartData?.length > 0"
  ><span class="material-symbols-outlined"> arrow_left_alt </span>
</a>
<div class="cart-details">
  <div *ngIf="!error; else errorOcccur">
    <div @myInsertRemoveTrigger *ngIf="totalPrice; else noitems" class="cartandpricediv">
      <div class="cart-card" *ngFor="let item of cartData">
        <div class="cart-book">
          <div class="book-img">
            <img src="{{ item?.thumbnailUrl }}" alt="{{ item?.title }}" />
          </div>
          <div class="book-details">
            <h3>{{ item?.title | shorten : 15 }}</h3>
            <p>
              by <i>{{ item?.authors | shorten : 15 }}</i>
            </p>
            <div class="text-left"  *ngIf="item?.discount; else noDiscount">
              <del>
                <span class="text-left m-0 text-info">₹{{ item?.price }} </span>
              </del>
              <span class="text-left text-secondary">
                {{ item.discount }}% off</span
              >
              <p class="text-left m-0 text-success">
                ₹{{ calculateDiscount(item.price, item.discount) }}
              </p>
            </div>
            <ng-template  #noDiscount class="text-center">
              <p class="text-left m-0 text-success">₹{{ item?.price }}</p>
            </ng-template>
            <div class="book-qty">
              <h4>Quantity:</h4>
              <button
                (click)="onDecrement(item)"
                [disabled]="item.quantity <= 1"
              >
                -
              </button>
              <p>{{ item?.quantity }}</p>
              <button (click)="onIncrement(item)">+</button>
            </div>
          </div>
        </div>
        <h3
          *ngIf="item.discount; else discountdata"
          class="text-secondary text-center mb-0"
        >
          {{
            calculateDiscount(item.price, item.discount) * item.quantity
              | currency : "INR"
          }}
        </h3>
        <ng-template #discountdata>
          <h3 class="text-secondary text-center mb-0">
            {{ item.price * item.quantity | currency : "INR" }}
          </h3>
        </ng-template>
        <button class="btn remove-btn" (click)="onRemoveHandeller(item)">
          Remove
        </button>
      </div>
      <div class="price-card">
        <div class="get-font">
          Total price:
          <hr />
          <h1 class="text-danger">{{ totalPrice | currency : "INR" }}</h1>
        </div>
        <a routerLink="/buy" class="buynow-btn">Buy Now</a>
      </div>
    </div>

    <ng-template #noitems>
      <div class="background flex-center">
        <div appStyles>
          <h2>Your Shopping Cart is empty.</h2>
          <h2>
            <a routerLink="/" class="error-msg">Continue Shopping</a> and select
            'Add to Cart' to move items into your cart.
          </h2>
        </div>
      </div>
    </ng-template>
  </div>
  <ng-template #errorOcccur>
    <div class="background flex-center text-danger">
      <div appErrorStyles>
        <h2>OOPS! {{ error?.error.status }}</h2>
        <h2>Something went wrong!</h2>
        <h2>Please try after sometime</h2>
        <h2>
          <a href="/" class="error-msg">GO BACK</a>
        </h2>
      </div>
    </div>
  </ng-template>
</div>
</div>
<app-footer *ngIf="cartData?.length > 0"></app-footer>
