h2,
h3 {
  font-weight: 700;
}
.background {
  background-color: rgb(241, 243, 245);
  width: 100vw;
  height: 100vh;
}
.flex-center {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-msg {
  text-decoration: none;
}
.cart-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-card {
  height: auto;
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf768;
  border: 1px solid grey;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 12px;
}
.cart-book {
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: center;
}
.book-details {
  padding-top: 8px;
  max-width: 350px;
}
.book-img {
  padding: 5px;
}
.book-img img {
  width: 90px;
  height: 150px;
  margin-left: 10px;
  margin-right: 20px;
}
.book-qty {
  display: flex;
  flex: row wrap;
}
.book-qty p {
  padding-top: 4px;
}
.book-qty button {
  border: none;
  font-weight: 600;
  color: rgb(255, 0, 0);
  font-size: 15px;
  background-color: rgb(219, 217, 217);
  height: 29px;
  width: 20px;
  margin: 0px 10px 0px 10px;
}
.remove-btn {
  margin-right: 20px;
  padding: 10px;
  width: 125px;
  text-align: center;
  background-color: rgb(243, 26, 26);
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}
.material-symbols-outlined {
  margin: 20px 0px 0px 25px;
  font-size: 40px;
  color: yellow;
  font-weight: bolder;
}
.price-card {
  display: flex;
  flex: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: auto;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #00ffe7;
  border-radius: 10px;
}
.price-card h2 {
  padding-top: 15px;
}
.buynow-btn {
  padding: 15px;
  width: 200px;
  background-color: rgb(243, 167, 26);
  border: 5px solid blue;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  animation: color-change 1s infinite; 
}
.cartandpricediv {
  width: 60vw;
}
.title-color{
  color :rgb(255, 0, 212);
}
@media screen and (max-width: 900px) {
  .cartandpricediv {
    width: 80vw;
  }
  .remove-btn {
    padding: 2px 7px;
    margin: 10px;
  }
}
@media screen and (max-width: 650px) {
  * {
    font-size: xx-small;
  }
  .price-card {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 8px;
  }
  /* .buynow-btn {
    max-width: 130px;
    
  } */
  .remove-btn {
    margin-right: 0;
  }
  .cart-card {
    max-width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
  .cart-book {
    min-width: 350px;
    display: flex;
    flex: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .book-img {
    padding: 0px;
  }
  .card {
    width: 65vw;
    height: 200px;
  }
  .book-img img {
    width: 110px;
    height: 135px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .remove-btn {
    padding: 2px 17px;
  }
  .cartandpricediv {
    width: 85vw;
  }
}

@media only screen and (max-width: 400px) {
  .cart-book {
    justify-content: center;
  }
  .book-img img {
    width: 90px;
    height: 140px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .remove-btn {
    padding: 2px 17px;
  }
}
.get-font {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

 
 
 @keyframes color-change {
   0% { color:rgb(0, 255, 255); border-radius: 45%; width: 80px; }
   100% { color: rgb(255, 255, 255); border-radius: 50%;width: 80px; }
 }