<div class="m-5 background">
  <div *ngIf="spinner; else spin" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #spin>
    <div class="d-flex justify-content-between headdingButton">
      <h2 class="text-danger">{{ title }}:</h2>
      <P *ngIf="changehook" class="text-color">ngonchange</P>
      <a [routerLink]="['/viewall', title]"><button class="btn btn-success animated-button">View All</button></a>
    </div>
    <ngx-slick-carousel class="carousel mt-3" #slickModal="slick-carousel" [config]="slideConfig">
      <div  matTooltip="'{{slide.title}} ' By {{slide.authors}}" ngxSlickItem *ngFor="let slide of imagesData" class="slide m-2">
        <img  class="slider-book-image" src="{{ slide.thumbnailUrl }}" alt="image not avaliable" width="100%"
          height="250px" (click)="navigateToDetails(slide._id)" />
        <hr />
        <b>
          <p class="text-center m-0 text-danger mt-1">
            {{ slide.title | shorten : 15 }}
          </p>
        </b>
        <p class="text-center text-secondary m-0">
          {{ slide.authors[0] | shorten : 15 }}
        </p>
        <b class="text-center">
          <div class="text-center" *ngIf="slide.discount; else noDiscount">
            <del>
              <span class="text-center m-0 text-info">₹{{ slide.price }} </span>
            </del>
            <span class="text-center text-secondary">
              {{ slide.discount }}% off</span>
            <p class="text-center m-0 text-success">
              ₹{{ calculateDiscount(slide.price, slide.discount) }}
            </p>
          </div>
          <ng-template #noDiscount class="text-center">
            <p (click)="emitEvent(slide.price)" class="text-center m-0 text-success">
              ₹{{ slide.price }}
            </p>
          </ng-template>
        </b>
      </div>
    </ngx-slick-carousel>
  </ng-template>
</div>
<ng-content></ng-content>