<app-header></app-header>
<div class="container">
  <h2 class="text-center text-danger font-weight-bold pt-3">{{ category }}</h2>
  <div *ngIf="allBooks.length!==0;else nodata ">
    

  <mat-grid-list [cols]="cols">
    <mat-grid-tile *ngFor="let data of allBooks">
      <div (click)="navigateToDetails(data.id)"
        class="d-flex flex-column justify-content-center books-container image-div">
        <div>
          <img src="{{ data.thumbnailUrl }}" alt="noimg" />
        </div>
        <div>
          <b
            ><p class="text-center m-0 text-danger mt-1">
              {{ data.title }}
            </p>
          </b>
          <p class="text-center text-secondary m-0">
            {{ data.authors[0] }}
          </p>
          <b class="text-center">
            <div class="text-center" *ngIf="data.discount; else noDiscount">
              <del>
                <span class="text-center m-0 text-warning"
                  >{{ data.price }} ₹</span
                >
              </del>
              <span class="text-center text-secondary">
                {{ data.discount }}% off</span
              >
              <p class="text-center m-0 text-success">
                {{ calculateDiscount(data.price, data.discount) }} ₹
              </p>
            </div>
            <ng-template #noDiscount class="text-center">
              <p class="text-center m-0 text-success">{{ data.price }} ₹</p>
            </ng-template>
          </b>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<ng-template #nodata>
<h1 class="text-center text-danger">Opps..No Books Avaliable</h1>
</ng-template>
  <div class="d-flex justify-content-end">
    <a routerLink="/">
      <button class="btn btn-primary mt-3 mb-3">Back</button>
    </a>
  </div>
</div>
<app-footer></app-footer>