* {
  box-sizing: border-box;
}
mat-grid-tile {
  background:rgb(223 215 215);
  background: transparent;
}
img {
  width: 120px;
  height: 150px;
}
.books-container {
  padding: 10px;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.books-container:hover{
opacity: 0.5;
}
.back-btn {
  position: absolute;
  max-width: 160px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(21, 21, 131);
  border: 1px solid rgb(21, 21, 131);
  border-radius: 5px;
  margin-top: 20%;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}