<div class="signupcomponent">
  <div class="signup">
    <form [formGroup]="register" (ngSubmit)="signup()">
      <h1>Sign Up</h1>
      <div class="validate">
        <input type="text" placeholder="Name" formControlName="name" /><br />
        <p *ngIf="
            register.controls['name'].touched &&
            register.hasError('required', 'name')
          ">
          *This field is required
        </p>
        <p *ngIf="register.hasError('nameStrength', 'name')">
          *Name must be upper & lower
        </p>
      </div>
      <div class="validate">
        <input type="email" placeholder="E-mail" formControlName="email" /><br />
        <p *ngIf="
            register.controls['email'].touched &&
            register.hasError('required', 'email')
          ">
          *This field is required
        </p>
        <p *ngIf="register.hasError('email', 'email')">
          *Please enter a valid email address
        </p>
      </div>
      <div class="validate">
        <input type="password" placeholder="Password" formControlName="password" /><br />
        <p *ngIf="
            register.controls['password'].touched &&
            register.hasError('required', 'password')
          ">
          *This field is required
        </p>
        <p class="pwd" *ngIf="register.hasError('passwordStrength', 'password')">
          *Password must be upper,lower,numeric & special
        </p>
      </div>
      <div class="validate">
        <input type="password" placeholder="Confirm password" formControlName="confirm"
          (input)="confirmPasswordMatch()" /><br />
        <p *ngIf="
            register.controls['confirm'].touched &&
            register.hasError('required', 'confirm')
          ">
          *This field is required
        </p>
        <p *ngIf="!confirmPasswordMatch() && register.get('confirm')?.value">
          *Password Doesn't Matched
        </p>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="register.invalid || !confirmPasswordMatch()">
        Sign Up
      </button>
      <p class="already">
        Already have an account? <a routerLink="/signin">Sign In</a>
      </p>
    </form>
  </div>
</div>